:root {
    --white-color: #FFFFFF;
    --black-color: #212529;
    --light-gray-color: #7a8897;
    --blue-dark-color: #1E90FF;
    --gap: 3rem;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    padding: var(--gap);
    justify-content: center;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-weight: normal;
}

@media (max-width: 768px) {
    h1 {
        font-size: 45px;
    }
    
    h2 {
        font-size: 25px;
    }
    h3{
        font-size: 15px;
    }
}

/* NAVBAR */
.nav-links {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    height: 70px;
    background-color: var(--light-gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 70px;
    box-shadow: 1px 1px 4px var(--black-color);
    z-index: 1;
    opacity: 0.8;
}

.nav-links li a {
    display: flex;
    align-items: center;
    gap: 5px;    
    text-decoration: none;
    color: var(--black-color);
}

.nav-links li a:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out;
}

.nav-links li a img {
    height: 20px;
}

.nav-links li a img.skills {
    height: 25px;
}

.nav-toggler {
    display: none;
    font-size: 40px;
    cursor: pointer;
}


@media (max-width: 768px) {
    body{
        padding-top: 0;
    }

    .nav-links {
        display: flex;
        left: auto;
        right: 30px;
        top: 30px;
        position: fixed;
        flex-direction: column;
        width: 120px;
        height: 250px;
        gap: 35px;
        align-items: start;
        padding-left: 30px;
        border-radius: 20px;
        box-shadow: 0.5px 0.5px 4px 0px var(--black-color);
        opacity: 0;
        transform: scale(0.5);
    }

    .nav-links.show {
        display: flex;
        left: auto;
        right: 30px;
        top: 30px;
        position: fixed;
        flex-direction: column;
        width: 120px;
        height: 250px;
        gap: 35px;
        align-items: start;
        padding-left: 10px;
        border-radius: 20px;
        box-shadow: 0.5px 0.5px 4px 0px var(--black-color);
        opacity: 1;
        transform: scale(1);
        z-index: 2;
    }

    .nav-toggler {
        padding-inline: 15px;
        padding-top: 5px;
        border-bottom-left-radius: 20px;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--light-gray-color);
        box-shadow: 0.5px 0.5px 4px 0px var(--black-color);
        z-index: 2;
    }
}

.content {
    width: 1100px;
}

/*     EFEITOS ANIMADOS     */

.scale-zoom {
    transform: scale(0);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

.scale-zoom.active {
    transform: scale(1);
    opacity: 1;
}

.slide-right-start {
    transform: translateX(50px);
    opacity: 0;
    transition: transform 2s ease, opacity 1s ease; 
}

.slide-bottom-start {
    transform: translateY(300px);
    opacity: 0;
    transition: transform 2s ease, opacity 1s ease; 
}

.slide-left-start {
    transform: translateX(-50px);
    opacity: 0;
    transition: transform 2s ease, opacity 1s ease; 
} 

.slide-right {
    transform: translateX(50px);
    opacity: 0;
    transition: transform 2s ease, opacity 1s ease; 
}

.slide-left {
    transform: translateX(-50px);
    opacity: 0;
    transition: transform 2s ease, opacity 1s ease; 
}

@media (max-width: 768px) {
    .slide-right {
        transform: translateX(20px);
    }
    .slide-left {
        transform: translateX(-20px);
    }
    .slide-right-start {
        transform: translateX(20px);
    }
    .slide-left-start {
        transform: translateX(-20px);
    }
    .slide-bottom-start {
        transform: translateY(60px);
    }

} 

.finish {
    opacity: 1;
    transform: translateX(0); 
}

@keyframes rotate-right {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-left {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.rotate-left {
    animation: rotate-left 10s linear infinite; 
}

.rotate-right {
    animation: rotate-right 10s linear infinite; 
}

/*section-one*/

.section-one {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-one article {
    max-width: 55%;
}

.section-one article h1 {
    color: var(--black-color);
    text-shadow: 2px 2px 5px var(--light-gray-color);
    line-height: 1; 
}

.section-one article span {
    border-bottom: 1px solid var(--light-gray-color);
    color: var(--light-gray-color);
}

.section-one .main-img {
    min-width: 50px;
    height: auto;
}

.section-one-button {
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
.section-one-button a {
    box-shadow: 2px 2px 5px var(--light-gray-color);
    border-radius: 10px;
    text-decoration: none;
    color: var(--black-color);
    padding-inline: clamp(20px, 5vw, 40px);
    padding-block: 15px;
    font-size: 25px;
    font-weight: 900;
    background-color: var(--white-color);
    z-index: 1;
}

.geometry {
    bottom: -70px;
    left: 350px;
    position: absolute;
    z-index: 0;
    width: 200px;
    height: 200px;
}

.hexagono {
    bottom: -80px;
    left: 190px;
    position: absolute;
    z-index: 0;
    width: 100px;
    height: 100px;
}

.quadcircle {
    left: auto;
    right: 20px;

}

.container-one {
    background-image: url('../img/background-white.jpg');
}

@media (max-width: 768px) {
    .container-one {
        background-size:cover;
    }

    .geometry {
        bottom: 170px;
        left: 200px;
        position: absolute;
        z-index: 0;
        width: 100px;
        height: 100px;
    }
    
    .hexagono {
        bottom: 150px;
        left: 100px;
        position: absolute;
        z-index: 0;
        width: 60px;
        height: 60px;
    }

    .section-one {
        display: flex;
        flex-direction: column-reverse;
    }

    .section-one article {
        justify-content: center;
        max-width: 100%;
        text-align: center;
    }

    .section-one article h2 {
        font-size: 25px;
    }

    .section-one article h1 {
        font-size: 30px;
    }

    .section-one .main-img {
        width: 100%;
        height: auto;
    }

    .section-one-button {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;    
    }
    .section-one-button a {
        width: 150px;
    }
}






/*section-two*/
.section-two {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-two article {
    width: 45%;
}

.section-two article h3 {
    padding-top: 10px;
    border-top: 1px solid var(--black-color);
}

.section-two img {
    height: 300px;
    border-radius: 50px;
}


@media (max-width: 768px) {
    .section-two {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .section-two article {
        width: 100%;
        text-align: center;
    }

    .section-two img {
        width: 70%;
        height: auto;
    }
}



.title-project {
    text-align: center;
}

.section-three .skills-img {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-three .skills-img div{
    display: flex;
    flex-direction: column;
}

.section-three h1{
    text-align: center;
    border-bottom: 1px solid var(--black-color);
}

.section-three article img {
    height: clamp(40px, 20vw, 100px);
}

@media (max-width: 768px) {


    .section-three .skills-img {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .section-three .skills-img div {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
}


/*section-four*/


.container-four {
    display: flex;
    justify-content: center;
}

.section-four h2 {
    padding-bottom: 15px;
}

.section-four {
    background-color: var(--light-gray-color);
    padding-inline: 20px;
    padding-bottom: 5px;
    border-radius: 20px;
    margin: 10px;
}

.section-four h2 span {
    color: var(--black-color);
}

.section-four img {
    max-width: 50%;
}

@media (max-width: 768px) {
    .section-four {
        padding-bottom: 20px
    }
    .section-four img {
        max-width: 100%;
    }
    .section-five {
        display: flex;
        flex-direction: column;
    }
}
